@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
a {
  text-decoration: none;
  color: black; }

p {
  margin: 0px; }

body {
  position: relative; }

header {
  top: 0px;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.216) 14.31%, rgba(27, 27, 27, 0.112602) 58.6%, rgba(0, 0, 0, 2.4e-05) 100%);
  width: 100%; }
  header:hover {
    transition: all 0.8s;
    background: white; }
    header:hover a {
      color: black;
      fill: black; }
    header:hover .top {
      background: #F7F7F7; }
    header:hover .top-menu__search input {
      background: #f7f7f7 url(img/search.svg) no-repeat 97% 50%; }
      header:hover .top-menu__search input::placeholder {
        color: black; }

.top {
  padding: 0px 24px;
  display: flex;
  height: 24px;
  background: white;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  align-items: center; }
  .top p {
    margin-left: auto;
    letter-spacing: 0.8px; }
  .top div {
    margin-left: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px; }
    .top div a {
      display: flex;
      align-items: center;
      gap: 6px;
      font-weight: normal;
      font-size: 10px;
      line-height: 15px; }
    .top div svg {
      width: 8px;
      fill: black; }

.top-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 24px; }
  .top-menu__logotype {
    padding-left: 24px;
    width: 20%; }
    .top-menu__logotype a {
      display: flex;
      height: auto;
      fill: white; }
    .top-menu__logotype svg {
      flex: 0 2 139px; }
      .top-menu__logotype svg:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.2s; }
  .top-menu__search {
    display: flex;
    align-items: center;
    flex: 0 2 584px; }
    .top-menu__search input {
      flex: 0 2 584px;
      outline: none;
      appearance: none;
      border: none;
      height: 48px;
      border-radius: 3px;
      padding-left: 16px;
      background: rgba(247, 247, 247, 0.24) url(img/searchw.svg) no-repeat 97% 50%; }
      .top-menu__search input::placeholder {
        color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.8px; }
  .top-menu__basket {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 24px; }
    .top-menu__basket a {
      fill: white;
      color: white;
      display: flex;
      align-items: center;
      gap: 16px;
      font-weight: 600;
      font-size: 11px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 1px; }
    .top-menu__basket svg:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition-duration: 0.2s; }

.menu {
  display: flex;
  padding-top: 24px;
  padding-bottom: 16px;
  justify-content: center;
  gap: 32px; }
  .menu a {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase; }
    .menu a:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition-duration: 0.2s; }

.sliders {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 657px;
  background: url(img/bg1.jpg) center top/cover no-repeat;
  transition: all 5s; }
  .sliders p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    color: white;
    text-align: center; }

.content {
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center; }
  .content__text {
    display: flex;
    justify-content: center;
    padding-bottom: 14px; }
    .content__text p {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.8px;
      width: 439px; }
  .content__register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px; }
    .content__register-section input[type=email] {
      flex: 0 1 334px;
      outline: none;
      border: 1px solid #E1E0E1;
      box-sizing: border-box;
      border-radius: 3px;
      height: 32px;
      padding-left: 11px; }
      .content__register-section input[type=email]::placeholder {
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.8px;
        color: #4A4A4A; }

.button {
  outline: none;
  border: none;
  appearance: none;
  background: #000000;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  color: white;
  padding: 6px 17px; }
  .button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.2s;
    cursor: pointer; }

footer {
  padding-top: 26px;
  padding-bottom: 38px;
  justify-content: center;
  display: flex;
  background: #F7F7F7;
  gap: 40px; }
  footer div {
    display: flex;
    flex-direction: column;
    gap: 6px; }
    footer div .subtitle {
      font-weight: normal;
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 0.1px;
      font-family: 'Poppins', sans-serif; }
      footer div .subtitle:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.2s; }
  footer .title {
    padding-bottom: 11px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.16px; }
  footer .social-icons {
    flex-direction: row;
    align-items: center;
    gap: 16px; }
    footer .social-icons a:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition-duration: 0.2s; }

.copyright {
  background: #F7F7F7;
  font-weight: normal;
  font-size: 9px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 14px; }

.mobile,
.mobile-menu,
.footer-arrow,
.footer-line,
.close-icon,
.header-line {
  display: none; }

@media screen and (max-width: 900px) {
  .top-menu {
    gap: 10px; }

  .sliders {
    height: 480px; }
    .sliders p {
      font-size: 32px; } }
@media screen and (max-width: 768px) {
  .header-line {
    margin: 0px;
    display: flex;
    width: 100%;
    border: 1px solid #F7F7F7; }

  .footer-line {
    margin: 0px;
    display: flex;
    width: 100%;
    border: 1px solid #E1E0E1; }

  .mobile-menu {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90%;
    background: white; }
    .mobile-menu__item {
      padding: 0px 16px;
      display: flex;
      align-items: center;
      height: 48px; }
    .mobile-menu a {
      font-family: 'Poppins', sans-serif;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 11px;
      line-height: 16px; }
    .mobile-menu .header-arrow {
      margin-left: auto; }
    .mobile-menu .menu-logo {
      display: flex;
      padding: 24px 0px;
      padding-left: 16px; }
      .mobile-menu .menu-logo .close-icon {
        display: inline-block; }
      .mobile-menu .menu-logo .mobile-logo {
        margin: auto; }

  header:hover {
    transition: all 0.8s;
    background: linear-gradient(180deg, rgba(51, 51, 51, 0.216) 14.31%, rgba(27, 27, 27, 0.112602) 58.6%, rgba(0, 0, 0, 2.4e-05) 100%); }
    header:hover a {
      color: white;
      fill: white; }
  header .mobile {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-left: 16px; }
  header .menu {
    display: none; }
  header .top {
    display: none; }
  header .top-menu__search {
    display: none; }
  header .top-menu__logotype {
    width: 104px;
    height: 20px; }
  header .top-menu__basket {
    padding-right: 16px; }
    header .top-menu__basket p {
      display: none; }

  .sliders {
    height: 480px; }
    .sliders p {
      display: none; }

  footer {
    padding: 0px 16px 16px 16px;
    flex-direction: column;
    gap: 0px; }
    footer .footer__item.active .subtitle {
      display: flex; }
    footer .footer__item.active img {
      transform: rotate(90deg); }
    footer div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px; }
      footer div .subtitle {
        display: none; }
    footer .title {
      display: flex;
      align-items: center;
      padding: 13px 0px; }
      footer .title.social-title {
        display: none; }
    footer .social-icons {
      padding-top: 24px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 24px; }
    footer .footer-arrow {
      display: block;
      margin-left: auto; } }
@media screen and (max-width: 360px) {
  header .mobile {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-left: 16px; }

  .sliders {
    height: 480px; }

  .content {
    padding-top: 24px;
    padding-bottom: 24px; }
    .content p {
      width: 328px; }
    .content__register-section {
      gap: 8px; }
      .content__register-section input:first-child {
        width: 224px; } }
